/*font*/
@font-face {
    font-family: jf;
    src: url(../font/jf-openhuninn-2.0.ttf);
}
@font-face {
    font-family:gensenrounded ;
    src: url(../font/GenSenRounded-R.ttc);
}
/*body*/
body{
    background-color: black;
    text-align: center;
}
html{
    box-sizing: border-box;
}
*,*:after,*:before{
    box-sizing: inherit;
}
/*header*/
header{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom:1.5px solid #FFB800;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width:150px;
}
.nav{
    margin-top: 30px;
    display: flex;
    padding: 0;
}
.nav_li{
    list-style: none;
}
.nav_item{ 
    font-size: 1.2rem;
    font-family: gensenrounded;
    list-style:none;
    color: #FFB800;
    margin:0 40px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 1rem;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
}
.nav_item:hover{
    background-color: #FFB800;
    color: black;
    opacity: 100%;
}
@media screen and (max-width:768px){
    .nav{
        margin-top: 1.5rem;
        justify-content: center;
    }
    header{
        padding-bottom: 0px;
    }
    .logo{
        width:130px;
    }
    .nav_item{ 
        margin:0 20px;
        font-size: 1rem;
    }
}
@media screen and (max-width:480px){
    header{
        margin-top:25px;
        border-bottom:1px solid #FFB800;
    }
    .logo{
        width:100px;
    }
    .nav_item{ 
        padding: 3px 3px;
        font-size: 0.8rem;
    }
}
/*.nav_item:hover{
    opacity: 50%;
}*/
/*main*/
main{
    margin-bottom: 40px;
}
.title{
    font-family: jf;
    font-size: 20px;
    width: 100px;
    color: white;
    border-left:1.5px solid rgba(255, 255, 255, 0.5);
    border-right:1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    margin:0 auto 25px auto;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-bottom: 75px;
}
.news_con{
    margin:auto;
}
.carouselcontainer{
    display: flex;
 }
.carousel{
    position:relative;
    overflow: hidden;
    width: 800px;
    height: 450px;
    border:2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}
.carousel img{
     position: absolute;
     width: 100%;
     top: 0;
     left:0;
     display:none;
     object-fit: cover;
}
.left,.right{
    display:flex;
    align-items: center;
}
.left img:hover,.right img:hover{
    cursor:pointer;
}
.dot{
    display: flex;
    width: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    position: relative;
}
.dot div{
    width: 0.8rem;
    height: 0.8rem;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.dot div:nth-child(1){
    background-color: white;
}
/**/
.preview_title{
    font-size: 1.2rem;
    color: white;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width:70%;
    margin: auto;
    margin-bottom: 30px;
}
.recent,.highreward{
    font-family: gensenrounded ;
    font-size: 20px;
    color:white;
    margin-bottom: 75px;
}
.recent .preview_title{
    margin-bottom: 50px;
}
.monsters{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.3);
}
.monsters_item{
    width: 175px;
    font-family: gensenrounded;
    color: white;
}
.monster_img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}
.monster_name{
    text-align: start;
    font-size: 1.2rem;
    color:white;
    margin: 0;
    line-height: 200%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.monster_text{
    font-size: 1rem;
    text-align: start;
}
.ranking{
    font-size: 1.2rem;
    text-align: center;
    color:white;
}
.rank_text{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    width: 90%;
    margin: auto;
}
.bad{
    display: flex;
}
.bad img{
    width:1.2rem;
    margin-right: 5px;
}
.more{
    text-align: center;
    line-height: 200%;
    margin-bottom: 75px;
}
.knowmore{
    margin:0;
    font-family: gensenrounded;
    color:white;
    font-size: 20px;
    padding:15px;
}
.monster_doc{
    margin: 0;
}
.monster_doc_a{
    font-family: gensenrounded;
    color:#0FF;
    font-size: 20px;
    text-decoration: none;
    padding:0.5rem;
    border-radius: 15px;
    /*animation: grow 1s ease-in-out infinite;*/
}
 /*.monster_doc{
    padding: 5px;
    font-family: gensenrounded;
    color:#0FF;
    font-size: 20px;
    text-decoration: none;
   animation: grow 1s ease-in-out infinite;*
}/
/*@keyframes grow {
    0%{
        font-size: 20px;
    }
    50%{
        font-size: 30px;
    }
    100%{
        font-size: 20px;
    }
}*/
.monster_doc_a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.dots:hover{
    opacity: 50%;
}
.doudledown{
    width:25px;
}
/*footer*/
footer{
    background-color: #FFB800;
    display: flex;
    justify-content: space-between;
    padding: 24px 52px;
}
.contact{
    text-align: start;
}
.contact_icon{
    width: 2rem;
    margin-right: 15px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
.contact_icon:hover{
    /*opacity: 50%;*/
    width:2.5rem;
}
.mail{
    color:black;
    font-family: gensenrounded;
    margin:0;
}
.cr{
    color:black;
    font-family: gensenrounded;
    margin:0;
    align-self: center;
}
